<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Task 2</title>
  </head>
  <body>
    <div class="container">
      <form class="row g-3" method="post">
        {% csrf_token %}
        <div class="col-md-4">
          <label for="numberA" class="form-label">Number A</label>
          <input type="text" class="form-control" id="numberA" required>
        </div>
        <div class="col-md-4">
          <label for="numberB" class="form-label">Number B</label>
          <input type="text" class="form-control" id="numberB" required>
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button id='add' class="btn btn-outline-secondary " type="submit">Add</button>
          <button id='subtract' class="btn btn-outline-secondary" type="submit">Subtract</button>
          <button id='multiply' class="btn btn-outline-secondary" type="submit">Multiply</button>
          <button id='divide' class="btn btn-outline-secondary" type="submit">Divide</button>
        </div>
        <h4> Resault </h4>
        <div id="answer" class="col-md-3">
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
      let answer = $('#answer');
      let urlBase = 'http://localhost:8000/'

     
      renderResults = function(data){
        let answer_container = $('#answer');
        answer_container.empty();
        let answer = document.createElement('p');
        console.log(data.status_code)
        if(`${data.error}` === ''){
          answer.innerText = `${data.answer}`;
          answer.style.color = 'green'
          answer_container.append(answer);
        }
        else{
          answer.innerText = `${data.error}`;
          answer.style.color = 'red'
          answer_container.append(answer);
        }
      }

      function onClick(event){
        url = urlBase
        event.preventDefault();        
        let numA = document.getElementById('numberA').value;
        let numB = document.getElementById('numberB').value;
        data = JSON.stringify({'A': numA, 'B': numB});
        move = event.target.id;
        switch (move) {
          case 'add':
            url = urlBase + 'add/';
            break
          case 'subtract': 
            url = urlBase + 'subtract/';
            break
          case 'multiply':
            url = urlBase + 'multiply/';
            break
          case 'divide':
            url = urlBase + 'divide/'; 
            break
        }              
        $.ajax({
          url: url,
          method: 'POST',
          data: data,
        }).done(
          function (data){
              renderResults(data);
          }
      )  
      }     

      let add_but = document.getElementById('add');
      add_but.onclick = onClick;
      let subtract_but = document.getElementById('subtract');
      subtract_but.onclick = onClick;
      let multiply_but = document.getElementById('multiply');
      multiply_but.onclick = onClick;
      let divide_but = document.getElementById('divide');
      divide_but.onclick = onClick;

    </script>
  </body>
</html>